
   .custom-list{
     counter-reset: new-counter;
     margin-left: 16%;  
     li{
       color:#777;
       position: relative;
       padding-left:20px;
       line-height: 2em;
       font-size:28px;
       &:after{
         content: counter(new-counter, decimal);      
           counter-increment: new-counter;
         position: absolute;
         color: #fff;
         top: 0;
         left: -27px;  
         font-size: .7em;
         font-weight: 800;
         line-height: 2.8em;
       }    
     }
     &.custom-list-style{
       li{
         line-height: 2em;
         font-size:28px;
         &:before{
           position: absolute;
           left: -40px;
           color:#ccc;
           font-size:32px;
           content: '';
           width: 40px;
           height: 50px;
           z-index: 0;     
         }
         &:nth-child(odd):before{
            transform:  translateY(3px) skewX(30deg);
            background: green;
         }
         &:nth-child(even):before{
           transform:  translateY(3px) skewX(-30deg);
           background: cornflowerblue;
         }
       }
     }
   }
   