@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Tajawal', sans-serif;
}

body::-webkit-scrollbar-track
{
	/* border: 1px solid #71b85f; */
	background-color: #FFF;
}

body::-webkit-scrollbar
{
    height: 10px;
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: #71b85f;	
}

::selection {
    background-color: #71b85f;
}

.navbar {
    background-color: #71b85f;
    /* backdrop-filter: blur(3px); */
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.scrolled {
    border-bottom: 1px solid white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.hide-navbar{
    transform: translateY(-100px);
}

.nav-logo a {
    color: #FFF;
    font-size: 40px;

}

.navbar-brand {
    font-weight: 800;
}

.navbar-nav .nav-item {
    padding: 0px 20px;
}

.navbar-nav li a {
    font-size: 20px;
}

.navbar-toggler-icon {
    color: red !important; /* Replace 'red' with your desired color */
  }

.dropdown-menu a{
    color: black;
}

.dropdown-menu a:hover{
    color: #71b85f !important;

}

.dropdown-menu a:focus{
    background-color: #71b85f !important;
    color: #FFF !important;
}

/* ********** caraousel ********** */
.carousel-container{
    margin-top: 88px;
    cursor: pointer;
    width: 100vw;
}


/* ******home intro******** */
.home-intro {
    /* background-color: #71b85f; */
}

.home-intro-left{
    background-image: url(assets/baby.svg);
    background-repeat: no-repeat;
    background-position-x: right;  
    min-width: 50%;
}

.home-intro-left .text-container{
    width: 100%;
    height: 100%;
    padding: 150px 50px 0 100px;
    background-image: linear-gradient(to bottom, #ffffff75 10%, #ffffffb9);
}

.home-intro-left .text-container h1{
    font-size: 3rem;
}

.home-intro-left .text-container p{
    font-size: 1.5rem;
}

.home-intro-right{
    cursor: pointer;
}


.home-intro-right .card-container::-webkit-scrollbar-track
{
	/* border: 1px solid #71b85f; */
	background-color: #FFF;
}


.home-intro-right .card-container::-webkit-scrollbar
{
    height: 5px;
	background-color: #F5F5F5;
}


.home-intro-right .card-container::-webkit-scrollbar-thumb
{
	background-color: #71b85f;	
    border-radius: 10px;
}

.home-intro-right h1{
    font-size: 3rem;
}

.home-intro-right .card{
    background-color: #d3ffc6ce;
    min-width: 16vw;
    padding: 50px 0px 70px 0px;
}

.home-intro-right .card .card-img{
    width:140px;
    height: 140px;
    background-color: #FFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.home-intro-right .card .card-img img{
    width: 60%;
}

.home-intro-right .card .card-text{
    font-weight: 500;
}


/* ********** vs table ************ */

.table-caption {
    color: #000;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 20px 0;
}

.table-img {
    justify-content: center;
}

.table-img .img-ele {
    max-width: 60vw;
}

.table-img .img-ele img {
    width: 100%;
}


/* ********** Dr yashodhara ********** */

.best-doctor{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.best-doctor .dr-yashodhra-img{
    width: 230px;
}


.best-doctor .doctor-text-container{
    margin: 20px 0;
    padding: 20px 60px;
    background-color: #71b85f;
}

.best-doctor .doctor-text-container p{
    font-size: 20px;
}


/* ********** IVF PROCESS Timeline ********* */

.panel {
    padding-bottom: 30px;
}

.panel-heading {
    padding: 30px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #000000aa;
}


/* Timeline.css */
.timeline {
    position: relative;
    padding: 20px 0 20px;
    list-style: none;
}

.timeline:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    margin-left: -1.5px;
    background-color: #eeeeee;
}

.timeline>li {
    position: relative;
    margin-bottom: 20px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li>.timeline-panel {
    float: left;
    position: relative;
    width: 46%;
    padding: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline>li>.timeline-panel:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 26px;
    right: -15px;
    border-top: 15px solid transparent;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ccc;
}

.timeline>li>.timeline-panel:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 27px;
    right: -14px;
    border-top: 14px solid transparent;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #fff;
}

.timeline>li>.timeline-badge {
    z-index: 100;
    position: absolute;
    top: 16px;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    font-size: 1.4em;
    line-height: 50px;
    color: #fff;
    background-color: #999999;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}



.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body>p,
.timeline-body>ul {
    margin-bottom: 0;
}

.timeline-body>p+p {
    margin-top: 5px;
}

@media(max-width:767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline>li>.timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline>li>.timeline-badge {
        top: 16px;
        left: 15px;
        margin-left: 0;
    }

    ul.timeline>li>.timeline-panel {
        float: right;
    }

    ul.timeline>li>.timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
    }

    ul.timeline>li>.timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
    }
}


/* ***********reviews-container********* */
.reviews {
    /* overflow-x: hidden; */
    background-color: #71b85f;
}

.reviews .card {
    min-width: 20rem;
    cursor: pointer;
}

.card-deck {
    /* padding: 0 32%; */
    scroll-behavior: smooth;
    scrollbar-3dlight-color: transparent;
}

.card-deck::-webkit-scrollbar {
    width: 0;
}

.card-deck .card:hover {
    transform: scale(1.05);
    transition: all 0.4s ease-in-out;
}

/* ********* INDIAN LAWS CONTAINER *********** */
.indianLaws ul {
    list-style: none;
    text-align: center;
}

.indianLaws ul li {
    display: flex;
    gap: 20px;
    font-size: 1.5rem;
}

.indianLaws ul li i{
    margin-top: -6px;
}

/* ********* OUR SERVICES ********** */
/* .services-container {
    background-color: #71b85f;
} */

.we-offer-area {
    padding: 60px 0;
    min-height: 100vh;
}

.we-offer-area a,
.we-offer-area a:hover,
.we-offer-area a:focus,
.we-offer-area a:active {
    text-decoration: none;
    outline: none;
}

.bg-gray {
    background-color: #f9f9f9;
}

.site-heading h2 {
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.site-heading h2 span {
    color: #71b85f;
}

.site-heading h4 {
    display: inline-block;
    padding-bottom: 20px;
    position: relative;
    text-transform: capitalize;
    z-index: 1;
}

.site-heading h4::before {
    background: #71b85f none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}

.site-heading {
    margin-bottom: 60px;
    overflow: hidden;
    margin-top: -5px;
}

.carousel-shadow .owl-stage-outer {
    margin: -15px -15px 0;
    padding: 15px;
}

.we-offer-area .our-offer-carousel .owl-dots .owl-dot span {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid;
    height: 15px;
    margin: 0 5px;
    width: 15px;
}

.we-offer-area .our-offer-carousel .owl-dots .owl-dot.active span {
    background: #71b85f none repeat scroll 0 0;
    border-color: #71b85f;
}

.we-offer-area .item {
    background: #ffffff none repeat scroll 0 0;
    border-left: 2px solid #71b85f;
    -moz-box-shadow: 0 0 10px #cccccc;
    -webkit-box-shadow: 0 0 10px #cccccc;
    -o-box-shadow: 0 0 10px #cccccc;
    box-shadow: 0 0 10px #cccccc;
    overflow: hidden;
    padding: 30px;
    position: relative;
    z-index: 1;
}

.we-offer-area.text-center .item {
    background: #ffffff none repeat scroll 0 0;
    border: medium none;
    padding: 67px 40px 64px;
}

.we-offer-area.text-center .item i {
    background: #71b85f none repeat scroll 0 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #ffffff;
    font-size: 40px;
    height: 80px;
    line-height: 80px;
    position: relative;
    text-align: center;
    width: 80px;
    z-index: 1;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    margin-bottom: 25px;
}

.we-offer-area.text-center .item i::after {
    border: 2px solid #71b85f;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: "";
    height: 90px;
    left: -5px;
    position: absolute;
    top: -5px;
    width: 90px;
    z-index: -1;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.we-offer-area.item-border-less .item {
    border: medium none;
}

.we-offer-area .our-offer-items.less-carousel .equal-height {
    margin-bottom: 30px;
}

.we-offer-area.item-border-less .item .number {
    font-size: 50px;
    font-weight: 900;
    opacity: 0.1;
    position: absolute;
    right: 30px;
    top: 30px;
}

.our-offer-carousel.center-active .owl-item:nth-child(2n) .item,
.we-offer-area.center-active .single-item:nth-child(2n) .item {
    background: #71b85f none repeat scroll 0 0;
}

.our-offer-carousel.center-active .owl-item:nth-child(2n) .item i,
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item h4,
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item p,
.we-offer-area.center-active .single-item:nth-child(2n) .item i,
.we-offer-area.center-active .single-item:nth-child(2n) .item h4,
.we-offer-area.center-active .single-item:nth-child(2n) .item p {
    color: #ffffff;
}

.we-offer-area .item i {
    color: #71b85f;
    display: inline-block;
    font-size: 60px;
    margin-bottom: 20px;
}

.we-offer-area .item h4 {
    font-weight: 600;
    text-transform: capitalize;
}

.we-offer-area .item p {
    margin: 0;
}

.we-offer-area .item i,
.we-offer-area .item h4,
.we-offer-area .item p {
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.we-offer-area .item::after {
    background: #71b85f none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: -100%;
    position: absolute;
    top: 0;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    width: 100%;
    z-index: -1;
}

.we-offer-area .item:hover::after {
    left: 0;
}

.we-offer-area .item:hover i,
.we-offer-area .item:hover h4,
.we-offer-area .item:hover p {
    color: #ffffff !important;
}

.we-offer-area.text-center .item:hover i::after {
    border-color: #ffffff !important;
}

.we-offer-area.text-center .item:hover i {
    background-color: #ffffff !important;
    color: #71b85f !important;
}

.we-offer-area.text-left .item i {
    background: #71b85f none repeat scroll 0 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    font-size: 60px;
    height: 100px;
    line-height: 100px;
    margin-bottom: 30px;
    position: relative;
    width: 100px;
    z-index: 1;
    text-align: center;
}

.we-offer-area.text-left .item i::after {
    border: 2px solid #71b85f;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: "";
    height: 120px;
    left: -10px;
    position: absolute;
    top: -10px;
    width: 120px;
}

.selection-main {
    background-color: #71b85f;

}

.selection-main ol {
    font-size: 18px;
    list-style: none;
}



.selection-main ol.text-white li::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 10px;
    border-radius: 2px;
    background-image: linear-gradient(to right bottom, rgb(255, 208, 80) 30%, rgb(255, 255, 255));
}


.article-section .article-heading h1{
    font-size: 3rem;
    /* padding: 10px 0 80px 0; */
}

.article-card-text{
    position: absolute;
    width: 100%;
    height: 100%;
    align-items:end;
    color: #FFF;
    background-color: rgba(58, 58, 58, 0.576);
    transition: all 0.3s ease-in-out;
}

.article-section .card{
    display: flex;
    justify-content: space-between;
}

.article-section .card:hover .article-card-text{
    background-color: rgba(58, 58, 58, 0.4);
    color: #fcfcfc;
}

.article-card-text h3:hover{
    color: #ffcf31;
}


.contact-headings h6 {
    color: #71b85f;
}

.contact-headings h6::before{
    content: "";
    display: inline-block;
    width: 40px;
    border-top: 3px solid #71b85f;
    margin-bottom: 3px;
    margin-right: 15px;
}

.contact-headings h6::after{
    content: "";
    display: inline-block;
    width: 40px;
    border-top: 3px solid #71b85f;
    margin-bottom: 3px;
    margin-left: 15px;
}

.contact-headings h1{
    font-size: 3rem;
    padding: 10px 0 80px 0;
}

.contact-section .card{
    background-color: #e6ffdfce;
}

.contact-section .card{
    min-height: 300px;
}

.contact-section .card .card-body{
    margin-top: 80px;
}

.contact-section .card .card-body p{
    color: #71b85f;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.contact-section .card .card-body p:hover{
    color: rgb(87, 177, 219);
}

.contact-icon{
    position: absolute;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    left: 0;
    top: -18%;
}


.contact-icon .contact-icon-outer{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #FFF;
    color: #71b85f;
    transition: all 0.3s ease-in-out;
}

.contact-section .card .card-body:hover{
    cursor: pointer;
}



.contact-section .card:hover .contact-icon .contact-icon-outer{
    box-shadow:1px 0px 10px #9797973f, 0px 1px 10px #9797973f;
}

.contact-icon .contact-icon-outer:hover{
    cursor:default;
}

footer .location{
    margin-bottom: -18px;
}

footer .contact{
    font-size: 1.2rem;
}

footer .first-three-icon{
    color: #71b85f;
}

footer .social-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #d3d3d3 ;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

footer .social-icon:hover{
    transform: scale(1.01);
    border: none;
    box-shadow: 2px 0px 5px #d4d4d4, 0px 2px 5px #d4d4d4, -2px 0px 5px #d4d4d4, -2px 0px 5px #d4d4d4;
    cursor: pointer;
}

footer a, footer p{
    color: #000;
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
}

footer a:hover{
    color: #71b85f;
}


/* %%%%%%%%%%%%% MEDIA QUERIES %%%%%%%%%%%%% */

@media(max-width:767px) {
    /* ********home intro******* */
    .home-intro .wrapper{
        display: flex;
        flex-direction: column;
    }

    .home-intro-left{
        background-size: contain;
        background-position: center;
    }

    .home-intro-left .text-container{
        width: 100%;
        height: 100%;
        padding: 10px;
        background-image: linear-gradient(to bottom, #ffffff93 5%, #ffffffd5, #ffffff);
        text-shadow: 1px 1px 5px rgba(179, 179, 179, 0.623);
    }

    .home-intro-right h1{
        font-size: 2.5rem;
    }

    .home-intro-right .card{
        min-width: 40vw;
        padding: 50px 0px;
    }

    /* ******* vs table ******* */
    .table-caption {
        font-size: 2rem;
        margin: 40px 0;
    }

    /* ******** Dr yashodhara ******** */
    .best-doctor{
        display: flex;
        flex-direction: column;
        gap: 0;
        justify-content: center;
        align-items: center;
    }

    .best-doctor .dr-yashodhra-img{
        background-color: #71b85f;
        width: 100%;
        display: flex;
        justify-content: center;
        box-shadow: 2px 2px 5px #9b9b9b, -2px 2px 5px #9b9b9b, 0px -2px 5px #9b9b9b;
    }

    .best-doctor .dr-yashodhra-img img{
        width: 50% !important;
    }

    .best-doctor .doctor-text-container p{
        text-align: center;
    }

    /* ******* Latest blogs ******* */
    .article-section .article-heading h1{
        font-size: 2.5rem;
    }

    /* ******** contact cards ********* */
    .contact-section .card{
        margin-bottom: 60px;
    }

    /* *********** FOOTER *********** */
    footer .footer-wrapper{
        flex-direction: column;
        gap: 50px;
    }
}

